# Exclude matlab auto-save files
*.asv

# Exclude example gel images, my workflow drafts / notes and Scren-sots.
images/
NOTES/
SCREENSHOTS/

# Temporary exclude notes.md - will add it later to other project / location.
notes.md

# To Do list
2do.txt

# Backup created by GhostWriter
README.md.backup
